<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/posts.css">
</head>
<body>
  <!-- Header comum para todo o blog -->
  <header>
    <h1>Bem-vindo ao meu Blog!</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">Sobre</a></li>
        <li><a href="/contact">Contato</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {{ content }} 
  </main>

  <footer>
x
  </footer>
</body>
</html>
